<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenuAR">

        <activity
            android:name=".HomeActivity2"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="true"/>

        <activity
            android:name=".detail_soto_ayam"
            android:exported="false" />
        <activity
            android:name=".detail_gulai"
            android:exported="false" />
        <activity
            android:name=".detail_tongseng_ayam"
            android:exported="false" />
        <activity
            android:name=".detail_tongseng_sapi"
            android:exported="false" />
        <activity
            android:name=".detail_tongseng_kambing"
            android:exported="false" />
        <activity
            android:name=".detail_soto_balungan"
            android:exported="false" />
        <activity
            android:name=".sate_kikil"
            android:exported="false" />
        <activity
            android:name=".sate_maranggi_sapi"
            android:exported="false" />
        <activity
            android:name=".detail_sate_ayam_kulit"
            android:exported="false" />
        <activity
            android:name=".detail_sate_ayam_taichan"
            android:exported="false" />
        <activity
            android:name=".detail_sate_ayam_campur"
            android:exported="false" />
        <activity
            android:name=".DetailSateAyamDaging"
            android:exported="false" />
        <activity
            android:name=".SateActivity"
            android:exported="false" />
        <activity
            android:name=".FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DetailSateAyamDagingActivity"
            android:exported="false" />

    </application>

</manifest>